* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  /* background-image: url("images/def.jpg"); */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(./three-dots.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  /* background: rgb(11, 128, 161);
  background: radial-gradient(#96b7d6, #2a63ab); */
}

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
  font-size: 1.5rem;
}

.weather-feels {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
  font-size: 1.2rem;
}

.add-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
  font-size: 1.1rem;
}

#location {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
}
.desc {
  font-size: 1.25rem;
  text-transform: capitalize;
}

.circle {
  background-color: black;
  border-radius: 50px;
  height: 15px;
  width: 15px;
  margin: 0 15px;
}

.circle-info {
  background-color: black;
  border-radius: 50px;
  height: 7px;
  width: 7px;
  margin: 0 7px;
}

@media (max-width: 767px) {
  .add-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    font-size: 2vw !important;
    flex-direction: row !important;
  }
  .search-container input {
    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (max-width: 500px) {
  .add-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    font-size: 0.6rem !important;
    flex-direction: row !important;
  }
  .time {
    font-size: 0.8rem;
  }
}

.search-container input {
  height: 43px;
  width: 600px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid black;
  font-size: 16px;
  padding: 0 10px;
  /* box-sizing: border-box; */
}
.search-container {
  position: relative;
}

.search-container input:focus,
.search-container button:focus,
.search-container button:hover {
  cursor: pointer;
}

#search-btn :hover {
  background: black;
}

#search-btn {
  background: green;
  height: 43px;
  color: #fff;
  border: 1px solid black;
  font-size: 16px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  /* top: -1px; */
}
